*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.flex-item {
  background: hsl(184, 100%, 22%);
  padding: 30px;
  margin: 0 20px 0;
}

.flex-item:first-child {
  background: hsl(31, 77%, 52%);
  margin-top: 20px;
}

.flex-item:last-child {
  background: hsl(179, 100%, 13%);
  margin-bottom: 20px;
}

/* Button styles */

button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  background: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 30px 12px;
  border-radius: 20px;
}

button:hover {
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}

.button-1 {
  color: hsl(31, 77%, 52%);
}

.button-1:hover {
  background: hsl(31, 77%, 52%);
}

.button-2 {
  color: hsl(184, 100%, 22%);
}

.button-2:hover {
  background: hsl(184, 100%, 22%);
}

.button-3 {
  color: hsl(179, 100%, 13%);
}

.button-3:hover {
  background: hsl(179, 100%, 13%);
}